#home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
 
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 180px;
}