.footer{
    width: 100%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(45, 41, 41);
    gap: 20px;
    color:white;
}
#footertop{
width: 100%;
height: 90%;
display: flex;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
}
.footerbutton{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:5px;
}
#contact1{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
#services{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
#Quick{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
#logo{
    font-size: 25px;
    font-weight: 500;
    color: white;
}
.box span{
    font-size: 15px;
    color: white;
    font-weight: 300;
}
.box button{
    padding: 10px 40px 10px 40px;
    background-color: red;
    color:white;
    border-radius: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border:none;
    
}
.footerbutton span{
    font-size: 20px;
    color: white;
    font-weight: 400;
}
