#Nav{
width: 100%;
height: 160px;

display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.nav1{
    width: 100%;
    height: 50%;
    background-color: white;
    border-bottom: 0.5px solid rgba(117,111,111,0.479);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}
.nav2{
     width: 100%;
    height: 50%;
    background-color: white;
    align-items: center;
    display:flex;
    justify-content: center;
    gap: 20px;
}
a.active{
    border-bottom: 1px solid black;
    margin-bottom: 5px;
}
.svg11{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
}
.svg11 svg{
    width: 25px;
    height: 25px;
    color:black;

}
.svg11 h3{
    font-size: 12px;
    color:rgb(56,56,56);
    font-weight:300;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h1{
    font: size 18px;
    font-weight: 300;
    color:red;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.search input{
    width: 250px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    padding-left: 20px;
    border: 1px solid rgb(125, 122 ,122,0.416);
    font-size: 15px;
    color: black;
    outline: none;
}
.search button{
    padding: 10px;
    background-color: red;
    color:white;
    border-radius: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border:none;
    transition: all 0.2s;
    cursor: pointer;

}
.search svg{
    width: 20px;
    height: 20px;
    color:white;
}
.search button:hover{
    border: 2px solid red;
    background: transparent;
    color :red;
}
.ham{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#btn1{
    border:none;
    outline: none;
    background-color: white;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
     transition :all 0.2s;
}
#btn2{
     border:none;
    outline: none;
    background-color: white;
   border: 1px solid grey;
   color: black;
    cursor: pointer;
    border-radius: 40px;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition :all 0.2s;
}
#svg1{
    width: 20px;
    height: 20px;
}
#svg2{
    width: 25px;
    height: 25px;
}
#btn2:hover{
    box-shadow: 2px 2px 10px black ;
}
#btn1:hover{
    box-shadow:2px 2px 10px black ;
}
.hamburger{
    position: absolute;
    width: 160px;
    height: 165px;
    right: 3%;
    top: 42%;
    box-shadow: 2px 2px 10px rgba(80,78,78);
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}
.ham1{
   padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 300;
    color: black;
    cursor: pointer;
}
.ham1:hover{
    background-color:white;
}
@media(max-width:900px){
    #btn1{
        display: none;
    }
}
@media (max-width:800px){
    .logo h1{
        display: none;
    }
    .nav1{
        overflow: hidden;
        padding: 10px;
    }
    .nav2{
        overflow-y: hidden;
        overflow-x: scroll;
        justify-content: start;
        padding: 10px;
    }
    .svg11{
        flex-shrink: 0;
        scrollbar-width: none;
    }
    .search input{

        width:180px;
        font-size:15px;

    }
    .search button span{
        display: none;
    }
    .search{
        gap:20px;
    }
}
@media (max-width:500px){
    
        #btn2{
            border:none;
            padding:0
        }
        #svg2{
            display: none;
        }
        #svg1{
            width:25px;
            height: 25px;
            fill:black
        }
    
}